.profile__title-container {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .profile__title-container {
    gap: 18px;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .profile__title-container {
    gap: 10px;
    margin-left: 28px;
  }
}
