.popup__container {
  display: flex;
  position: fixed;
  left: 35%;
  top: 35%;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  min-width: 30%;
  padding: 34px 0 37px;
}
