.profile {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .profile {
    max-width: 73.4%;
    justify-content: space-between;
    padding: 41px 0 50px;
  }
}

@media screen and (max-width: 1024px) {
  .profile {
    flex-direction: column;
    max-width: 95%;
    padding: 39px 0 36px;
  }
}
