.header {
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (min-width: 768px) {
  .header {
    max-width: 73.4%;
    padding: 45px 0 35px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 100%;
    padding: 28px 0 28px;
  }
}
