.profile__edit-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
  z-index: 0;
}

.profile__edit-avatar:hover {

  background-color: rgba(0, 0, 0, 0.8);
  background-size: cover;
}
