.popup__button-close {
  position: absolute;
  transition: opacity 0.2s linear;
  cursor: pointer;
  border: none;
}

.popup__button-close:hover {
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .popup__button-close {
    width: 32px;
    height: 32px;
    top: -40px;
    right: -40px;
    background: center center no-repeat url(../../../images/close-icon.svg);
  }
}

@media screen and (max-width: 768px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
    background: center center no-repeat url(../../../images/close-icon-small.svg);
  }
}
