.popup__submit {
  border: none;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  transition: opacity 0.3s linear;
  cursor: pointer;
  max-width: 80%;
  margin: 0 auto;
}

.popup__submit:hover {
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .popup__submit {
    padding: 14px 124px 18px;
    margin-top: 48px;
  }
}

@media screen and (max-width: 768px) {
  .popup__submit {
    padding: 14px 82px;
    margin-top: 44px;
  }
}
