.element__like {
  background: center center no-repeat url(../../../images/like.svg);
  width: 22px;
  height: 19px;
  cursor: pointer;
  transition: opacity 0.2s linear;
  border: none;
}

.element__like:hover {
  opacity: 0.5;
}

