.popup__text {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 27px;
  width: 90%;
  font-size: 14px;
  line-height: 28.94px;
  position: relative;
}

.popup__text:first-of-type {
  margin: 0;
}
